<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SigmehConnection" connectionString="data source=mssql.sigmeh.com.br;initial catalog=sigmeh;persist security info=True;user id=sigmeh;password=cqjl5gi8" providerName="System.Data.SqlClient" />-->
    <add name="SigmehConnection" connectionString="data source=NB_ROCHA\SQLEXPRESS;initial catalog=sigmeh;persist security info=True;user id=sa;password=123abc.." providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>